[submodule "cpp/lib/libsvmpp"]
	path = cpp/lib/libsvmpp
	url = https://github.com/Bardo91/libsvmpp
[submodule "cpp/lib/DroneApplications"]
	path = cpp/lib/DroneApplications
	url = https://github.com/Bardo91/DroneApplications.git
[submodule "cpp/lib/cjson"]
	path = cpp/lib/cjson
	url = https://github.com/Bardo91/cjson.git
[submodule "cpp/lib/bovil"]
	path = cpp/lib/bovil
	url = https://github.com/bardo91/bovil.git
